/* start style */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* header style */

header {
    background-color: #333;
    color: white;
    text-align: center;
    position: sticky;
    top: 0%;
    width: 100%;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* content style */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    padding: 0;
}

/* h2 to h5 style */

h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

h4 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

h5 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* end of h2 to h5 style */

/* link style */

#about {
    scroll-margin-top: 230px;
}

#tech_stack {
    scroll-margin-top: 230px;
}

#projects {
    scroll-margin-top: 230px;
}

#certificates {
    scroll-margin-top: 230px;
}

/* end of link style */

.section {
    background-color: #fff;
    padding: 50px;
    margin: 500px auto;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.circle_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    text-align: justify;
    line-height: 1.8;
    max-width: 800px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.content ul:first-of-type {
    font-weight: bold;
    margin-bottom: 10px;
}

.content img {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ul {
    padding: 0;
    margin-top: 10px;
}

ul li {
    display: inline-block;
    margin: 0 15px;
}

/* footer style */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: lightblue;
    text-decoration: underline;
}
