body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.circle_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

section a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    margin-top: 10px;
}

section a:hover {
    color: lightblue;
    text-decoration: underline;
    border-color: lightblue;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0%;
    left: 0%;
    width: 100%;
    position: fixed;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    header {
        position: fixed;
        text-align: center;
        width: 350px;
    }
    
    section {
        height: 550px;
        padding: 40px 20px;
    }

    .circle_img {
        width: 120px;
        height: 120px;
    }

    section a {
        padding: 10px 20px;
        font-size: 14px;
    }

    footer {
        position: absolute;
        padding: 15px;
        width: 330px;
    }
}